<div class="title">
        <label>Title</label>
        <input type="text" name="title" value="<%= book.title %>">
</div>
<div class="author">
        <label>Author</label>
        <select name="author">
                <% authors.forEach(author => { %>
                        <% if (author.id === book.author) { %>
                                <option selected label="<%= author.name %>" value="<%= author.id %>"></option>
                        <% } else { %>
                                <option label="<%= author.name %>" value="<%= author.id %>"></option>
                        <% } %>
                <% }) %>
        </select>
</div>
<div class="publish-date">
        <label>Publish Date</label>
        <input type="date" name="publishDate"
               value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
</div>
<div class="page-count">
        <label>Page Count</label>
        <input type="number" name="pagesCount" min="1" value="<%= book.pagesCount %>">
</div>
<div class="cover-image">
        <label>Cover Image</label>
        <input type="file" name="cover">
</div>

<div class="description">
        <label>Description</label>
        <textarea name="description"><%= book.description %></textarea>
</div>